<!-- Mobile elements -->
<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span class="menu-btn left" data-menu-position="left">Menu</span>
    <span class="dropdown-btn btn transparent icon icon-list3 fl-right" data-menu=".dropdown-menu-mobile" data-menu-position="top right">_SAMPLE TEXT_</span>
</div>

<aside class="mobile-menu left">
    _MENU_
</aside>

<aside class="dropdown-menu-mobile">
    _SAMPLE DROPDOWN_
</aside>

<!-- Bottom bar for mobile, with button show/hide menu -->
<div class="mobile-bar bottom clearfix">
    _SAMPLE BOTTOM BAR_
</div>