<a class="btn social icon gplus icon-gplus" target="_blank" href="#">GPlus</a>
<a class="btn social icon facebook icon-facebook" target="_blank" href="#">Facebook</a>
<a class="btn social icon twitter icon-twitter" target="_blank" href="#">Twitter</a>
<a class="btn social icon linkedin icon-linkedin" target="_blank" href="#">LinkedIn</a>
<a class="btn social icon rss icon-feed" target="_blank" href="#">RSS</a>
<a class="btn social icon youtube icon-youtube" target="_blank" href="#">YouTube</a>