<!-- Go to www.addthis.com/dashboard to generate a new set of sharing buttons -->
<a class="btn social icon facebook icon-facebook" href="#" target="_blank">Facebook</a>
<a class="btn social icon twitter icon-twitter" href="#" target="_blank">Twitter</a>
<a class="btn social icon gplus icon-gplus" href="#" target="_blank">Google+</a>
<a class="btn social icon linkedin icon-linkedin" href="#" target="_blank">LinkedIn</a>
<a class="btn social icon icon-mail" href="#" target="_blank">Email</a>