// Basic Styles
//==================================================
@import "../_work_space/basic";

// Form Styles
//==================================================
@import "../components/form";

// Gallery Styles
//==================================================
@import "../components/gallery";

// Image Rotator
//==================================================
@import "../components/slider";

//Style for responsive
//==================================================
& when (@responsive){
    @import "../mediaqueries/responsive";
}

//Style for responsive
//==================================================
& when (@print){
    @media only print{
        @import "../mediaqueries/print";
    }
}